.App {
  text-align: center;
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.LoadingMsg
{
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#cityForm
{
  text-align: center;
  float: center;
  margin-left: auto;
  margin-right: auto;
  /* width: 40%; */
}

#weatherCard
{
  /* width: 50%; */
  text-align: center;
  float: center;
  margin-left: auto;
  margin-right: auto;
}

#modalHeading
{
  text-align: center;
}

#weatherIcon
{
  width: 35%;
  float: right;
  padding-top: 5px;;
}

#flagIcon
{
  font-size: 400%;
  float: left;
  padding-top: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
